.title {
  font-family: sans-serif;
  text-align: center;
  padding: 10px;
}

.form {
  text-align: center;
}

input {
  width: 150px;
  margin-right: 5px;
}

ul {
  text-align: center;
  list-style: inside;
}

li {
  padding: 10px;
  border: 1px solid black;
  margin: 10px;
  background-image: linear-gradient(
    to right,
    #f6d365 0%,
    #fda085 51%,
    #f6d365 100%
  );
}
