body {
  background: #FFF8DC;
  display: flex;
  text-align: center;
  width: 500px;
  margin: 0 auto;
  font-family: Comic Sans MS, Comic Sans, cursive
}

.form {
  padding-bottom: 20px;
}

.list-container {
  text-align: left;
}

.text {
  padding-left: 20px;
}

.close-button {
  float: right;
}

.user-input {
  box-sizing: border-box;
  background-color: transparent;
  padding: 0.7rem;
  border-bottom-right-radius: 15px 3px;
  border-bottom-left-radius:3px 15px;
  border: solid 3px transparent;
  border-bottom: dashed 3px black;
  font-size: 1rem;
  color: hsla(260, 2%, 25%, 0.7);
  width: 70%;
  margin-bottom: 20px;
}

button {
  padding: 5px 10px 5px 10px;
  margin: 15px;
  transform: rotate(5deg);
  transform-origin: center;

  border-radius: 5px;
  box-shadow: 5px 5px;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-color: lightgreen
}

.main-container {
  border: dashed 5px black;
  padding: 30px;
  margin-top: 25px;
  box-shadow: 10px 5px;
}

.title {
  margin: 10px;
}